.skip-to-content-link,
.skip-to-top-link {
	position: absolute;
	z-index: 99999999;
	top: 0;
    left: 15%;
	transform: translateY(-100%);
	transition: transform 0.3s;
}

.skip-to-content-link:focus,
.skip-to-top-link:focus {
	transform: translateY(0%);
}