<div class="hero mx-auto my-8 text-center max-w-prose">
    <h1 class="text-5xl font-bold mb-4">Covid Care</h1>
    <h2 class="text-3xl font-bold mb-2">A Consent Communication Tool</h2>

    <strong>How careful are you being? What is your definition of careful? <br> What is your comfort level?</strong>
    <p>This tool is to help you communicate your experiences, practices, and expectations to someone you have or are trying to have an interpersonal relationship with.</p>
</div>


<!-- Land Acknowledgement group -->
<article class="text-sm card" aria-labelledby="landAck">
    <h3 class="card__title" id="landAck">
        Land Acknowledgement
    </h3>
    <p>
        This project is brought to you from Moh'kinsstis, where the Bow River meets the Elbow River
    </p>
    <p>
        Traditional territories of the Niitsitapi (Blackfoot) and the people of Treaty 7 which includes the Siksika, the Piikani, the Kainai, the Tsuut'ina and the Îyârhe Nakoda of Bearspaw, Chiniki and Goodstoney. Which is also home to the Métis Nation, Region 3
    </p>
</article>